﻿@using Northwind.ASP.MVC.Models
@model IEnumerable<Northwind.ASP.MVC.ViewModels.EmployeeViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @foreach (var employee in @Model)
    {
        <div class="col-sm-4">
            <div class="thumbnail">
                <img class="img-circle" width="150" height="150" alt="Cinque Terre" src="@String.Format("data:image/bmp;base64,{0}", Convert.ToBase64String(employee.Photo))">
                <div class="caption">
                    <h3>
                        @string.Format("{0}{1} {2}",
                                employee.TitleOfCourtesy,
                                employee.FirstName,
                                employee.LastName)
                    </h3>
                    <h5>@employee.Title</h5>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">See details...</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>