﻿<div class="jumbotron">
    <h1>Northwind Web API</h1>
    <p class="lead">Northwind is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Northwind Web API</h2>
        <p>The REST APIs provide programmatic access to read and write Northwind data.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Northwind Web API</h2>
        <p>The REST APIs provide programmatic access to read and write Northwind data.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Northwind Web API</h2>
        <p>The REST APIs provide programmatic access to read and write Northwind data.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
</div>
